{% extends 'base.html.twig' %}

{% block title %}
    {{ad.title}}
{% endblock %}

{% block body %}


<div class="ad-title" style="background-image: url({{ ad.coverImage}}">
    <div class="container">
            <h1>{{ad.title}}</h1>
            <p>{{ad.introduction}}</p>
            <p class="h2">
                <strong>{{ad.rooms}} chambres </strong> pour <strong>{{ad.price}}&euro;
                </strong> par nuit
            </p>
            <a href="" class="btn btn-primary">Reserver</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8 mb-3">
            {{ad.content|raw}}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  {% for image  in ad.images %}
      
    <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %}class="active"{% endif %}></li>
  {% endfor %}
  
  </ol>
  <div class="carousel-inner">
  {% for image in ad.images %}
    <div class="carousel-item {% if loop.first %}active {% endif %}">
        <img class="d-block w-100" src="{{image.url}}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ad.title}}</h5>
                <p>{{image.caption}}</p>
            </div>
    </div>
  {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="http://placehold.it/64x64" alt="Avatar">
                </div>
                <div class="col">
                    <h3>Joseph </h3>
                <span class="badge-primary">3 annonces</span>
 
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur incidunt fuga officiis, nam voluptates cumque accusantium quod? Temporibus, autem repudiandae!</p>
            <p>Aliquam, modi? Modi dolores fugit, porro obcaecati autem quia sit provident exercitationem maxime vero placeat inventore quo nam, voluptatem repellat!</p>
            <p>Quaerat illum corporis vel sit aut dicta fugiat libero iste cupiditate autem officiis optio minus, explicabo quis non at esse.</p>
        </div>
    </div>
</div>

{% endblock %}